<h1>Listing students</h1>

<table class="pure-table">
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Age</th>
    <th>Background</th>
    <th>Birthday</th>
    <th>School ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.gender %></td>
    <td><%= student.email %></td>
    <td><%= student.age %></td>
    <td><%= student.background %></td>
    <td><%= student.birthday %></td>
    <td><%= student.school_id %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back to School', schools_path %>
