<h1>Listing students <%= if @school then "in " + @school.name end %></h1>

<table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Age</th>
        <th>Background</th>
        <th>Birthday</th>
        <th>School</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.name %></td>
            <td><%= student.gender %></td>
            <td><%= student.email %></td>
            <td><%= student.age %></td>
            <td><%= student.background %></td>
            <td><%= student.birthday %></td>
            <td><%= student.school.name %></td>
            <td><%= link_to 'Show', student %>
            <%= link_to 'Edit', edit_student_path(student) %>
            <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back to School', schools_path %>
